@keyframes text-drop{
	0% {
		opacity: 0;
		top: -100px;
	}

	40% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: .5;
	}

	100% {
		opacity: 0;
		top:100%;
	}
} 

@keyframes text-present-1{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform:translate(0,0);
	}
} 

@keyframes rolling{
	0% {
		transform:rotate3d(0,0,0,0);
	}

	100% {
		transform:rotate3d(.2,.5,.8,360deg);
	}
} 

@keyframes spinning{
	0% {
		transform:rotateY(0deg);
	}

	100% {
		transform:rotateY(360deg);
	}
} 