$colors: (
    "color1": #127075,
    "color2": #DA3A3F,
    "color3": #7FCDC4,
    "color4": #F9ECD0,
    "color5": #EFA44B,
    "color6": #fff
);

$primary: #127075;
$secondary: #DA3A3F;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  );

$font-family-base: Raleway, arial;