.panel{
	height: 100vh;
	position: relative;
}

.full-screen{
	height: 100vh;
}

.next-panel-link{
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin-left: -20px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:$primary;
	text-align: center;
	line-height: 40px;

	text-align: center;
	&:before{
		font-size: 24px;
		@include fa-icon;
		content: "\f078";
		color: #fff;
	}
}

#words-drop-section{
	//border:1px solid #ccc;
	//border-radius: 1em;
	box-shadow: 0 0 10px rgba(#000, .2);
	background:#000;

	position: relative;
	display: block;
	height: 100vh;

	perspective: 300px;
	overflow: hidden;
	img{
		position: relative;
		z-index: 100;
	}

	.text{
		font-size: 1em;
		transform:rotate(90deg);
		display: inline-block;
		position: absolute;
		animation-name:text-drop;
	}
}

#bio-section{
	.line-1{
		font-size: 2.5rem;
		margin-bottom: 1em;
		animation-delay: 0s;
		font-weight: bold;
	}
	.line-2{
		font-size: 1rem;
		animation-delay: .5s;
	}
	.line-3{
		font-size: 1.4rem;
		animation-delay: 1s;
	}
	.line-4{
		font-size: 1.8rem;
		animation-delay: 1.5s;
	}
	.line-5{
		font-size: 2rem;
		transform:translate(0, -1rem);
		font-weight: bold;
		animation-delay: 2s;
	}

	.to-show{
		animation-fill-mode: forwards;
		transform:translate(0, 1rem);
		animation-duration:1s;
		opacity: 0;
	}

	&.visited{
		.to-show{
			animation-name:text-present-1;
		}
	}
}

#cube-section{
}

.perspective{
	position: relative;
	perspective:800px;
	perspective-origin:50% 100px;

	/* 	.link{
		position: absolute;
		display: block;
		z-index: 100;
	}
	.link-top{
		top: 0;
		left: 0;
		right: 0;
		border-top: 100px solid transparent;
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
	}
	.link-right{
		top: 0;
		right: 0;
		bottom: 0;
		border-right: 100px solid transparent;
		border-top: 100px solid transparent;
		border-bottom: 100px solid transparent;
	}
	.link-bottom{
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: 100px solid transparent;
		border-left: 100px solid transparent;
		border-right: 100px solid transparent;
	}
	.link-left{
		left: 0;
		top: 0;
		bottom: 0;
		border-left: 100px solid transparent;
		border-top: 100px solid transparent;
		border-bottom: 100px solid transparent;
	} */

}

.cube{
	animation-name:spinning;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;

	position: relative;
	margin: 50px auto;
	width: 200px;
	transform-style:preserve-3d;
	transform-origin:center center;
	transition:all .5s;
	>div{
		position: absolute;
		width: 100%;
		height: 200px;
		display: flex;
		justify-content:center;
		align-items:center;
	}
	.name{
		display: inline-block;
		padding: .1em .5em;
		background:rgba(#333,.7);
		color: #fff;
		border-radius: .5em;
		font-weight: 300;
		font-size: 34px;
	}
	$opacity: .9;
	.front-pane{
		transform:translateZ(100px);
		background:rgba(map-get($colors,'color4'),$opacity);
	}
	.back-pane{
		transform:translateZ(-100px) rotateY(180deg);
		background:rgba(map-get($colors,'color1'),$opacity);
	}
	.right-pane{
		transform:rotateY(-270deg) translateX(100px);
		transform-origin:top right;
		background:rgba(map-get($colors,'color3'),.8);
	}

	.left-pane{
		transform-origin:top left;
		transform:rotateY(270deg) translateX(-100px);
		background:rgba(map-get($colors,'color5'),.8);
	}
	.top-pane{
		transform:rotateX(-90deg) translateY(-100px);
		transform-origin:top center;
		background:rgba(map-get($colors,'color6'),$opacity);
	}
	.bottom-pane{
		transform:rotateX(90deg) translateY(100px);
		transform-origin:bottom center;
		background:rgba(map-get($colors,'color6'),$opacity);
	}

}

.splash{
	text-align: center;
	margin-top: -100px;
	.site-name{
		font-size: 42px;
		font-weight: 700;
		color: theme-color(secondary);
	}
	h1{
		font-size: 36px;
		color: theme-color(primary);
	}
}