body{
	&.show-menu{
		overflow: hidden;
		.primary-nav{
			display: flex;
			opacity: 1;
		}
	}
}

header{
	padding:10px 20px;
	position: fixed;
	height: $headerHeight;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	background: rgba(#000,.8);
	color: #fff;
	.header-bar{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.site-name{
		display: flex;
		font-size: 26px;
		line-height: 1;
		font-family: $font-family-condense;
		//font-weight: bold;
		align-items: center;
		transition: .1s all;
		color: #fff;
		.alt{
			color: color('color3');
			font-weight: bold;
			font-size: .8em;
			vertical-align: bottom;
		}
		&:hover{
			color: #fff;
			text-decoration: none;
		}
		.logo{
			flex-basis: 40px;
			flex-grow:0;
			flex-shrink: 0;
			padding-right: 10px;
		}
		.on{
			color: theme-color('secondary');
			//font-weight: bold;
		}
	}

	.btns{
		font-size: 30px;
		display: flex;
		align-items: center;
		a{
			color: #fff;
			vertical-align: middle;
			display: inline-block;
			margin-left: 10px;
		}
	}

	.menu-toggle{
		@include hamburger;
		margin-left: 10px;
	}
}

.primary-nav{
	transition: .5s opacity;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: $headerHeight;
	background: rgba(#fff,.95);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	font-weight: bold;
	display: none;
	opacity: 0;
	ul{
		list-style: none;
		padding:0;
		margin: 0;
		li{
			display: block;
			margin: 0 0 .5em 0;
		}
	}
	a{
		color: gray('gray2');
	}
}
main{
	section:first-child{
		padding-top: $headerHeight;
	}
}
footer{}

h1{
	font-size: 36px;
	font-weight: 300;
	line-height: 1;
	margin: 1em 0 1em 0;
}

h2{
	font-size: 20px;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: .5em;
}

ol{
	li{
		line-height: 1.3;
		margin-bottom: .5em;
	}
}

.panel{
	height: 100vh;
	position: relative;
}

.content{
	ul{
		margin: 0;
		padding: 0;
		padding-left: 1em;
		>li{
			margin-bottom: .5em;
		}
	}
}

.full-screen{
	height: 100vh;
}

.tile-init{
	opacity: 0;
	transform: scale(.5);
}

.fade-in-line{
	opacity: 0;
	transition: .2s opacity;
}
.fade-solid{
	opacity: 1;
}
#words-drop-section{
	position: relative;
	display: block;
	height: 100vh;
	background:#000;
	transition:background 1s;
	h2{
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transition:all 1s;
		text-align: center;
		font-size: 70px;
		font-weight: 700;
		z-index: 100;
		color: $secondary;
		opacity: 0;
	}

	perspective: 300px;
	overflow: hidden;
	img{
		position: relative;
		z-index: 100;
	}

	.text{
		font-size: 1em;
		transform:rotate(90deg);
		display: inline-block;
		position: absolute;
		animation-name:text-drop;
	}

	&.visited{
		h2{
			opacity: 1;
		}
	}
}

#bio-section{
	.line-1{
		font-size: 2.5rem;
		margin-bottom: 1em;
		animation-delay: 0s;
		font-weight: bold;
	}
	.line-2{
		font-size: 1rem;
		animation-delay: .5s;
	}
	.line-3{
		font-size: 1.4rem;
		animation-delay: 1s;
	}
	.line-4{
		font-size: 1.8rem;
		animation-delay: 1.5s;
	}
	.line-5{
		font-size: 2rem;
		transform:translate(0, -1rem);
		font-weight: bold;
		animation-delay: 2s;
	}

	.to-show{
		animation-fill-mode: forwards;
		transform:translate(0, 1rem);
		animation-duration:1s;
		opacity: 0;
	}

	&.visited{
		.to-show{
			animation-name:text-present-1;
		}
	}
}

#skills{

	
}

#skills-list-region{
	display: flex;
	flex-wrap: wrap;
	>div{
		flex-basis: 33%;
		flex-shrink: 0;
		flex-grow:0
	}
}

 #cube-section{
	padding:20px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;

	.intro{
		flex-grow: 1;
		display: flex;
		align-items: center;
		.content{
			font-size: 22px;
		}

		ol{
			margin: 0;
			padding: 0;
			padding-left: 1em;
			li{
				margin-bottom: 1em;
				line-height: 1.5;
			}
		}
	}
	.decor{
		flex-basis: 300px;
		flex-grow: 0;
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.the-cube{
			flex-grow: 1;
			text-align: center;
		}
		.my-face{
			flex-basis: 400px;
			flex-grow:0;
			img{
				transform: translate(20px, 20px);
			}
		}
	}
}

.perspective{
	position: relative;
	perspective:800px;
	perspective-origin:50% 100px;

	height:300px;
}

.cube{
	animation-name:spinning;
	animation-duration:20s;
	animation-iteration-count:infinite;
	animation-timing-function: linear; /* */

	display: inline-block;

	position: relative;
	margin: 50px auto;
	width: 200px;
	transform-style:preserve-3d;
	transform-origin:center center;
	transition:all .5s;
	>div{
		position: absolute;
		width: 100%;
		height: 200px;
		display: flex;
		justify-content:center;
		align-items:center;
	}
	.name{
		display: inline-block;
		padding: .1em .5em;
		background:rgba(#333,.7);
		color: #fff;
		border-radius: .5em;
		font-weight: 300;
		font-size: 34px;
	}
	$opacity: .9;
	.front-pane{
		transform:translateZ(100px);
		background:rgba(map-get($colors,'color4'),$opacity);
	}
	.back-pane{
		transform:translateZ(-100px) rotateY(180deg);
		background:rgba(map-get($colors,'color1'),$opacity);
	}
	.right-pane{
		transform:rotateY(-270deg) translateX(100px);
		transform-origin:top right;
		background:rgba(map-get($colors,'color3'),.8);
	}

	.left-pane{
		transform-origin:top left;
		transform:rotateY(270deg) translateX(-100px);
		background:rgba(map-get($colors,'color5'),.8);
	}
	.top-pane{
		transform:rotateX(-90deg) translateY(-100px);
		transform-origin:top center;
		background:rgba(map-get($colors,'color6'),$opacity);
	}
	.bottom-pane{
		transform:rotateX(90deg) translateY(100px);
		transform-origin:bottom center;
		background:rgba(map-get($colors,'color6'),$opacity);
	}
}

#projects{

}

#projects-holder{
	[class*="col-"]{
		padding-bottom: 30px;
	}
	.project{
		display: block;
		
		position: relative;
		transition: .3s all;
		text-decoration: none;
		.thumbnail{
			display: block;
			position: relative;
			&:before{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				content: "";
				background: rgba(#fff,.2);
			}
			.desc{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				align-items: center;
				justify-content: center;
				padding: 20px;
				color: #fff;
				background: rgba(#000,.8);
				display: none;
			}
		}
		.name{
			display: block;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: .5em;
			padding-bottom: .5em;
			text-align: center;
			position: relative;
			border-bottom: 2px solid gray(gray9);
			z-index: 5;
			color: gray(gray1);
			&:hover{
				color: gray(gray1);
			}
		}
		&:hover{
			z-index: 5;
			transform: scale(1.05);
			.name{
				background: #fff;
				font-weight: bold;
			}

			.thumbnail{
				box-shadow: 0 0 40px rgba(#333,.3);
				&:before{
					background: rgba(#fff,0);
				}
				.desc{
					display: flex;
				}
			}
		}
	}
}

#photos{
}